body {
    color: #121212;
    margin: auto;
    text-align: center;
    padding: 10px 20px
}

img {
    width: 380px;
    font-size: 5px;
}

p {
    font-style: italic;
}

.border {
    border: 3px solid #121212;
}

input {
    text-align: inherit;
    padding: 8px 23px;
}

button {
    display: block;
    margin: 10px auto 10px auto;
    background-color: #121212;
    color: white;
    padding: 8px 15px;
    width: 250px;
}